/* ALL HTML */

      *{
      margin:0;
      padding:0;
      font-family: "Pliant", sans-serif;
      }


/* INDEX HTML - START */

   /* HEADER */
      nav{  
      display: flex;
      padding: 8px 20px;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #006dd3, #0082a3);
      } 


      nav img{
      width:140px;
      transform: scale(1.16);
      transition: transform 0.3s ease;
   
      }
      
      nav img:hover {
      transform: scale(1.35);
      }

      .nav-links{
      font-weight: 700;
      text-align: right;
      }
    
      .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
      }
    
      .nav-links ul li a{
      color: #f1f1f1;
      text-decoration:none;
      font-size: 15px;
      }

      .nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #ffffff;
      display: block;
      margin: auto;
      transition:0.4s;
      }

      .nav-links ul li:hover::after{
      width: 100%;
      }

   /*HOMEPAGE-LOGIN BTN & REGISTER BTN */
      
      .login-btn{
      margin:2px;
      font-weight: 700;
      background:#ffffff;
      color:rgb(0, 0, 0);
      border:1px solid #ffffff;
      padding:8px 16px;
      border-radius:4px;
      cursor:pointer;
      }

      .login-btn span {
      display: inline-block;
      transition: transform 0.3s ease;
      }

      .login-btn:hover span {
      transform: scale(1.1);
      }
        
      .register-btn{
      margin:2px;
      font-weight: 700;
      background:rgb(255, 255, 255);
      color:#1976d2;
      border: 1px solid #ffffff;
      padding:8px 16px;
      border-radius:4px;
      cursor:pointer;
      }

      .register-btn span {
      display: inline-block;
      transition: transform 0.3s ease;
      }

      .register-btn:hover span {
      transform: scale(1.1);
      }

   /* HERO SECTION */

      .hero{
      position:relative;
      height:86vh;
      background:url("banner.webp") center center/cover no-repeat;
      display:flex;
      align-items:center;
      }

      .overlay{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(255, 255, 255, 0);
      }

      .hero-content{
      position:relative;
      z-index:2;
      max-width:600px;
      margin-left:50px;
      }

      .hero-content h1{
      font-size: 6em;
      font-weight:725;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      line-height:0.5em;
      margin-bottom:30px;
      
      }

      .hero-content h1 span{
      color: #1e88e5;
      }

      .hero-content h2{
      font-size: 1.25em;
      margin-top: -10px;
      margin-left: 5px;
      color:rgba(0, 0, 0, 0.750);
      font-weight: 300;
      }
      .hero-content h3{
      color:rgba(0, 0, 0, 0.750); 
      margin-top:10px;
      margin-bottom: 20px;
      margin-left: -15px;
      font-size: 1em;
      font-weight: 700;
      }
      

   /* HOMEPAGE BTNS */   

      .buttons{
      display:flex;
      gap:25px;
      flex-wrap:wrap;
      margin-top: 10px;
      }

      .buttons button{
      padding:12px 24px;
      font-weight: 775;
      border:none;
      border-radius:8px;
      cursor:pointer;
      background:#1e88e5;
      color:white;
      font-size:15px;
      transition:0.3s;
      }

      .buttons button:nth-child(2),
      .buttons button:nth-child(3){
      background:white;
      color:#333333;
      border:1px solid #ccc;
      }

      .buttons button:hover{
      transform:translateY(-3px);
      }


   /* CARDS */

.featuring {
    position: relative;
     width: 100%;
    max-width: 1500px;
    margin: 60px auto;
    margin-top: -50px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    padding: 50px;
    position: relative;
    max-height: 350px;
    border-radius: 20px;
}

.feature-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.feature-top .left,
.feature-top .right {
    flex: 1;
}

.feature-top h2 {
    color: #000000;
    margin-left: 50px;
   font-size: 55px;
    font-weight: 800;
    line-height: 1.2;
}

.feature-top h2 span {
    color: #2f80ed;
}

.feature-top p {
    margin-right: 50px;
    color: #666;
    font-size: 18;
    line-height: 1.8;
}

.f-cards {
    background-color: #ffffff;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.f-card {
    flex: 1;
    background: rgba(255,255,255,0.08);
    padding: 30px;
    color: rgb(0, 0, 0);
}

.f-card h2 {
    margin-bottom: 15px;
    color:#0ea5e9;
    font-size: 28;
      font-weight: 700;
}

.f-card p {
    line-height: 1.7;
    font-weight: bold;
    color: #000000;
}
   
.box {
    background: #dff3ff;
    padding: 30px ;
    height: 400px;
}


   /* Team Section */

      #team {
        margin: auto;
      position:relative;
      padding: 80px 20px;
      background-color: #dff3ff;
      text-align: center;
      }

      #team h2 {
      font-size: 2.5rem;
      color: #222;
      margin-bottom: 50px;
      text-decoration: underline;
      text-decoration-color: rgba(0, 0, 0, 0.500);
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
      }

   /* Cards Container */
      
      .team-container {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      }

   /* Individual Card */

      .member-card {
      width: 300px;
      background: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      transition: 0.3s ease;
      }

      .member-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0,0,0,0.15);
      }

   /* Image */

      .member-card img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      }

   /* Text */

      .member-card h3 {
      margin-top: 15px;
      color: #111827;
      }

      .member-card h4 {
      color: #2563eb;
      margin: 8px 0;
      }

      .member-card p {
      padding: 0 20px 20px;
      color: #6b7280;
      line-height: 1.6;
      }

   /*FOOTER*/   
      .site-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(to right, #006dd3, #0082a3);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      }

/* INDEX HTML - END */
 


      
/* ABOUT US HTML - START */
   
      #allabout{
      padding: 50px 20px;
      background-color: #ffffff00;
      }

      .about{
      max-width: 800px;
      margin: auto;
      text-align: center;
      }


      .about h2{
      color: #222;
      font-weight: 700;
      font-size: 2.5rem;
      margin-bottom: 20px;
      }

      .about p{
      font-size: 20;
      font-weight: 700;
      line-height: 1.8;
      margin-bottom: 15px;
      font-family: 'calibri';
      }

/* ABOUT US HTML - END */


/* CONTACT US HTML - START */
   
      #allcontact {
      padding: 80px 20px;
      }
 
      .contact {
      max-width: 1100px;
      margin: auto;
      text-align: center;
      }

      .contact h2 {
      font-size: 2.5rem;
      color: #222;
      margin-bottom: 20px;
      }

      .contact > p {
      font-size: 20;
      color: #555;
      margin-bottom: 50px;
      line-height: 1.8;
      }

      .contact-info {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-wrap: wrap;
      }

      .contact-card {
      position:relative;
      background: rgb(255, 255, 255);
      width: 300px;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.250);
      transition: all 0.3s ease;
      }

      .contact-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 12px 30px rgba(0,0,0,0.300);
      }

      .contact-card h3 {
      font-size: 1.4rem;
      color: #007bff;
      margin-bottom: 15px;
      }

      .contact-card p {
      color: #555;
      line-height: 1.7;
      font-size: 1rem;
      }

      .image-section {
      text-align: center;
      padding: 20px;
      }

      .image-section h2 {
      margin-bottom: 15px;
      color: #2563eb;
      text-decoration: underline;
      font-size: 2rem;
      font-weight: bold;
      }

      .image-section img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%; /* circular image */
      border: 5px solid #25a2eb;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
      }

      .image-section img:hover {
      transform: scale(1.05);
      }
/* CONTACT US HTML - END */      


/* REPORT ISSUE HTML - START */

    #pagedes{
    background-color: #dff3ff;   /* Light blue */
    min-height: 100vh;
    margin: 0;
}





/* Form Container */
      .reportpanel{
         align-items: center;
         justify-content: center;
      }

   /* Heading */
      .reportpanel h2 {
         margin: 30px auto;
      text-align: center;
      color:#222;
      margin-bottom: 20px;
      font-size: 34;
      font-weight: 800;
      }

      .reportpanel h4 {
      text-align: center;
      color:#222;
      margin-top: -20px;
      font-size: 16;
      text-decoration:underline;
      }
/*---------------- TOP ----------------*/
.rpissue{
   margin-top:-50px;
}

.top-section{
      padding: 35px;
     
    display:flex;
    max-width: 1500px;
 margin-top: -40px;
    gap:20px;
    justify-content: center;
    align-items: center;

    margin:30px auto;
}

.category-card{

   max-width:500px;
    max-height:250px;
}

.description-card{

     max-height: 250px;
    max-width: 800px;
}

/*---------------- BOTTOM ----------------*/

.bottom-section{
    max-width: 1500px;
    margin:30px auto;
    margin-top: -70px;
      padding: 20px;
      background-color: #ffffff00;
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.priority-card{

    height: 160px;
    max-width: 550px;
}

.location-card{

    max-width:600px;
    height:160px;
}

/*---------------- CARD ----------------*/

.card{

    background:white;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.250);

    border-radius:35px;

    padding:28px;
}

.card label{

    display:flex;

    font-size:22px;

    font-weight:500;

    margin-bottom:12px;
}

.cdd,
input[type="textti"],
textarea{

    width:100%;

    padding:15px;

    border:2px solid #bebebe;

    border-radius:18px;

    font-size:18px;

    outline:none;

    margin-bottom:28px;
}

   input[type="textti"]:focus,
      select:focus,
      textarea:focus {
      border-color: #2563eb;
      box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
      }


.cdd{

    cursor:pointer;
}

textarea{

    resize:none;
}

.description-card textarea{

    height:160px;
}

.location-card textarea{

    height:120px;
}

/*------------- FILE BUTTON-------------*/

input[type=file]{

    font-size:17px;
}

.priority-buttons{
    display:flex;
    gap:30px;
    justify-content:center ;
    margin-top:50px;
}

.priority-btn{

    width:140px;
    height:35px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:8px;
    cursor:pointer;

    transition:0.3s;

    border:2px solid transparent;
}

.priority-btn.low{
font-size: 24;
text-align: center;
font-weight: 600;
}

.priority-btn.medium{
font-size: 24;
text-align: center;
font-weight: 600;
}

.priority-btn.high{
font-size: 24;
text-align: center;
font-weight: 600;
}

.priority-btn.critical{
font-size: 24;
text-align: center;
font-weight: 600;
}



/* Default Colors */

.low{
    background:#e8f7df;
    text-align: center;
    color:#2e7d32;
}

.medium{
    background:#dceeff;
    color:#1565c0;
}

.high{
    background:#fff6d9;
    color:#ef6c00;
}

.critical{
    background:#ffd8c9;
    color:#c62828;
}

/* Hover Effect */

.priority-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Selected Button */

#low:checked + .low{
    background:#4CAF50;
    color:#fff;
}

#medium:checked + .medium{
    background:#2196F3;
    color:#fff;
}

#high:checked + .high{
    background:#FFC107;
    color:#fff;
}

#critical:checked + .critical{
    background:#F44336;
    color:#fff;
}

/*------------- SUBMIT-------------*/

.submit-area{

    text-align:center;

    margin-top:35px;
}

.submit-btn{

 margin-top: -40px;
      padding: 14px;
      border: none;
      border-radius: 10px;
      background: #2563eb;
      color: white;
      font-size: 16;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease;
      min-width: 150px;
}

.submit-btn:hover{

   background: #1d4ed8;
      transform: scale(1.03);
}

/* REPORT ISSUE HTML - END */



/* DASHBOARD PAGE & ADMIN PANEL HTML - START */


   /* Heading */
      .dashboard h2 {
      text-align: center;
      color:#222;
      margin-bottom: 20px;
      font-size: 34;
      font-weight: 800;
      }

      .dashboard h4 {
      text-align: center;
      color:#222;
      margin-top: -20px;
      font-size: 16;
      text-decoration:underline;
      }

/* Summary Section */

.admin-summary {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px ;
}

.summary-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 20px;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.summary-card h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.summary-card p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.summary-card.solved p {
    color: #28a745;
}

/* STATUS CHANGE */
select.statusselect{

    width:100%;
    padding:5px;
    border:1px solid #000000;
    border-radius: 10px;
    font-size:16;
}

select.statusselect:focus{   
border-color: #2563eb;

}


/* Search & Filter */

.dashboard-controls{
    display:flex;
    justify-content:space-between; /* key change */
    align-items:center;
    margin:25px 50px 20px;
    gap:20px;
    flex-wrap:wrap;
}

.dashboard-controls input{
    flex:1;
    max-width:400px;   /* keeps it left aligned */
    padding:12px 18px;
    font-size:16px;
    border:1px solid #d9efff;
    border-radius:12px;
    outline:none;
    background:#fff;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
    transition:0.3s;
}

.dashboard-controls select{
    margin-left:auto;   /* pushes it to the right */
    width:200px;
    padding:12px 18px;
    font-size:16px;
    border:1px solid #d9efff;
    border-radius:12px;
    outline:none;
    background:#fff;
    cursor:pointer;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
    transition:0.3s;
}

.dashboard-controls input:focus,
.dashboard-controls select:focus{
    border-color:#0ea5e9;
    box-shadow:0 0 8px rgba(14,165,233,0.3);
}
   .dashboard{
      width:100%;
      min-height: 80vh;
      position: relative;
      margin: 0;
      padding-top: 40px;
      }

   .dashboard h1{
    text-align:center;
    color:#222;
    font-size: 2.5rem;
    font-weight: bold;
    word-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


   /* Container */

   .table-container{
    background:white;
    padding: 30px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-left: 50px;
    margin-right: 50px;
   }

   /* Table */

   table{
    width:100%;
    border-collapse:separate;
    border-spacing:0 15px;
   }

   thead tr{
    background:#d9efff;
   }

   th{
    padding:20px;
    font-size:20px;
    font-weight: bold;
    text-align:center;
   }

   thead tr th:first-child{
    border-radius:12px 0 0 12px;
   }

   thead tr th:last-child{
    border-radius:0 12px 12px 0;
   }

   .tbody{
   margin-top: 20px;
   }

   th,
   td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px;
    border: 1px solid #ddd;
   }

/* Center stats */
.stats-boxes {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex: 1;
}

.stat-card {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stat-card h3 {
    margin-top: 6px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.stat-card p {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color: #007bff
}

#solvedIssues{
    color: rgb(0, 200, 0);
}
  


/* ADMIN PANEL */

.admin-panel{
    width:100%;
    min-height: 80vh;
    position: relative;
    margin: 0;
    padding-top: 40px;


}

      .admin-panel h2 {
      text-align: center;
      color:#222;
      margin-bottom: 20px;
      font-size: 34;
      font-weight: 800;
      }

      .admin-panel h4 {
      text-align: center;
      color:#222;
      margin-top: -20px;
      font-size: 16;
      text-decoration:underline;
      }

/* DASHBOARD PAGE HTML - END */



/* LOGIN PAGE HTML - START */


   /* Page Background */
      .login-container {
      margin: 30px auto;
      max-width: 400px;
      max-height:550px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 45px;
      background:#fff;
      border-radius:12px;
      box-shadow:0 15px 35px rgba(0,0,0,0.250);
      }

   /* Login Card */
      .login1 {
      width: 100%;
      max-width: 600px;
      background: #ffffff;
      padding: 35px;
      border-radius: 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.250);
      animation: fadeIn 0.8s ease;
      }

   /* Logo */
      .login-logo {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      color: #0084ff;
      margin-bottom: 25px;
      }

      .login-logo i {
      display: block;
      font-size: 3rem;
      margin-bottom: 10px;
      }

   /* Tabs */
      .tabs {
      display: flex;
      margin-bottom: 25px;
      border-radius: 10px;
      overflow: hidden;
      background: #f1f5f9;
      }

      .tab {
      flex: 1;
      padding: 12px;
      border: none;
      cursor: pointer;
      background: transparent;
      font-weight: 600;
      transition: 0.3s;
      }

      .tab.active {
      background: #2563eb;
      color: white;
      }

   /* Labels */
      .form-section label {
      display: block;
      margin-bottom: 8px;
      margin-top: 15px;
      font-weight: 600;
      color: #374151;
      }

   /* Input Container */
      .input-box {
      display: flex;
      align-items: center;
      border: 2px solid #d1d5db;
      border-radius: 10px;
      padding: 0 12px;
      transition: 0.3s;
      }

      .input-box:focus-within {
      border-color: #2563eb;
      box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
      }  

      .input-box i {
      color: #6b7280;
      margin-right: 10px; 
      }

      .input-box input {
      width: 100%;
      border: none;
      outline: none;
      padding: 14px 0;
      font-size: 1rem;
      }

   /* Show Password */
      .show-password {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      }

   /* Login Button */
   .loginpage-btn {
      width: 100%;
      padding: 14px;
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      background: #2563eb;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
      }

      .loginpage-btn:hover {
      background: #1d4ed8;
      transform: scale(1.03);
      }

   /* Forgot Password */
      .forgot {
      text-align: center;
      margin-top: 18px;
      }

      .forgot a {
      text-decoration: none;
      color: #2563eb;
      font-weight: 600;
      }

      .forgot a:hover {
      text-decoration: underline;
      }

      .register-link{
      text-align:center;
      margin-top:15px;
      }

      .register-link a{
      text-decoration:none;
      color:#007bff;
      font-weight:bold;
      }

      .register-link a:hover{
      text-decoration:underline;
      }

/* LOGIN PAGE HTML - END */      


/* REGISTER PAGE HTML - START */

      .signup-container{
      max-width:700px;
      margin: -10px auto;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:35px;
      }

      .signup-box{
      width:600px;
      background:#fff;
      padding:35px;
      border-radius:12px;
      box-shadow:0 15px 35px rgba(0,0,0,0.250);
      }

      .signup-box h2{
      text-align:center;
      margin-bottom:20px;
      color:#333;
      }

      .input-group{
      margin-bottom:15px;
      }

      .input-group label{
      display:block;
      margin-bottom:5px;
      font-weight:600;
      color:#444;
      }

      .input-group input,
      .input-group select{
      width:100%;
      padding:12px;
      border:1px solid #ccc;
      border-radius:6px;
      outline:none;
      }

      .signup-btn{
      width:100%;
      padding:12px;
      background:#007bff;
      color:white;
      border:none;
      border-radius:6px;
      cursor:pointer;
      font-size:16px;
      transition:0.3s;
      font-weight: 700;
      }

      .signup-btn:hover{
      background:#0056b3;
      }

      .login-link{
      text-align:center;
      margin-top:15px;
      }

      .login-link a{
      text-decoration:none;
      color:#007bff;
      font-weight:bold;
      }

      .login-link a:hover{
      text-decoration:underline;
      }


/* REGISTER PAGE HTML - START */












.popup-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s ease;
    z-index: 9999;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.popup-message.show {
    opacity: 1;
    transform: translateY(0);
}






